body *{
    font-family: GoogleSans-Regular;
    box-sizing: border-box;
}

@font-face {
    font-family: GoogleSans-Bold;
    src: url(../../asset/font/GoogleSans-Bold.otf);
}
@font-face {
    font-family: GoogleSans-Medium;
    src: url(../../asset/font/GoogleSans-Medium.otf);
}
@font-face {
    font-family: GoogleSans-Regular;
    src: url(../../asset/font/GoogleSans-Regular.otf);
}

.container {
    width: 100vw;
    height: 100vh;
}

.flex_center {
    display: flex;
    align-items: center;
    justify-content: center;
}