.message_box {
    position: absolute;
    top: 10px;
    right: 0;
}
.toast_message {
    display: flex;
    align-items: center;
    width: 250px;
    justify-content: space-between;
    /* background-color: #fff; */
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    height: 48px;
    border-radius: 4px;
    padding: 0 10px 0 16px;
    margin-bottom: 10px;
}
.toast_message-icon {
    font-size: 24px;
    margin-right: 16px;
}
.toast_message-closeicon {
    font-size: 24px;
}
.toast_message-text {
    font-size: 13px;
    color: #000;
}
.infor_message {
    display: flex;
    align-items: center;
}

.warnning_closeicon, .warnning_icon {
    color: #ffcece;
}
.errorr_closeicon, .errorr_icon {
    color: #ffe7af;
}
.check_closeicon, .check_icon {
    color: #baffa7;
}
.suggest_closeicon, .suggest_icon {
    color: #d8eaff;
}