@import url(../common/common.css);

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
}
.page_left {
    width: 200px;
    height: 100%;
    background-color: #fff;
    border-left: 1px solid #000;
}
.page_left-header {
    width: 100%;
    height: 48px;
    background-color: #bbb;
    display: flex;
    align-items: center;
}
.toggle_image {
    width: 24px;
    height: 24px;
    margin: 0 10px 0 16px;
    background-color: blue;
}
.text-logo {
    height: 24px;
    width: 100px;
    background-color: #ccc;
}
.page_right {
    width: calc(100% - 200px);
    height: 100%;
    background-color: yellow;
}
.page_right-header {
    width: 100%;
    height: 48px;
    background-color: #bbb;
}