@import url(../common/common.css);

.container {
    width: 100vw;
    height: 100vh;
}
.page_left {
    width: 71px;
    height: 100%;
    background-color: #fff;
}
.page_right {
    width: calc(100% - 71px);
    height: 100%;
    b
}