@import url(../Common_Employee/common.css);
@import url(../Common_Employee/input.css);
@import url(../Common_Employee/button.css);

.container {
    position: fixed;
}

.form {
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    background-color: #bbb;
    position: relative;
    border-radius: 4px;
    padding: 24px 24px 0 24px;
}
.form_closeicon {
    width: 36px;
    height: 36px;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #ccc;
    font-size: 24px;
    border-radius: inherit;
}
.form_header {
    width: 100%;
    height: 24px;
    font-size: 24px;
    margin-bottom: 24px;
}
.form_content-left {
    width: 200px;
}
.Employee_image {
    width: 100%;
    height: 200px;
    background: url(../../asset/img/default-avatar.jpg) no-repeat center /contain;
    border-radius: 50%;
    margin-bottom: 10px;
}
.Format_image-text {
    text-align: center;
    line-height: 1.2;
}
.form_content-right {
    w
}