@import url(../Common_Employee/common.css);
@import url(../Common_Employee/input.css);
@import url(../Common_Employee/button.css);

.form {
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    background-color: #bbb;
    position: absolute;
    
}