.title-combobox {
    margin-top: 10px;
    margin-bottom: 4px;
    font-size: 13px;
    color: #000;
    font-family: GoogleSans-Medium;
}

.ms-input {
    outline: none;
    padding-left: 16px;
    height: 40px;
    border: 1px solid #bbb;
    border-radius: 4px;
}

.ms-input::placeholder {
    font-size: 11px;
    color: #bbb;
    font-family: GoogleSans-Regular;
}

.combo_box {
    position: relative;
    display: inline-block;
}

.combo_box > .icon {
    padding: 0 12px;
    border: 1;
}