.title-combobox {
    margin-top: 10px;
    margin-bottom: 4px;
    font-size: 13px;
    color: #000;
    font-family: GoogleSans-Medium;
}

.ms-input {
    outline: none;
    padding-left: 16px;
    height: 40px;
    border: 1px solid #bbb;
    border-radius: 4px;
}

.ms-input::placeholder {
    font-size: 11px;
    color: #bbb;
    font-family: GoogleSans-Regular;
}

.combo_box {
    position: relative;
    display: inline-block;
}

.drop-down {
    position: absolute;
    top: 0;
    right: 0;
    padding: 12.5px 12px;
    border-left: 1px solid #bbb;
}

.drop-down > .icon {
    font-size: 16px;
}