@import url(button.css);
@import url(input.css);
@import url(combobox.css);
@import url(fieldInput.css);
@import url(inputIcon.css);
@import url(toastMessage.css);
@import url(table.css);
@import url(pageNavigate.css);

body {
    font-family: GoogleSans-Regular;
    box-sizing: border-box;
    width: ;
}

@font-face {
    font-family: GoogleSans-Bold;
    src: url(../../asset/font/GoogleSans-Bold.otf);
}
@font-face {
    font-family: GoogleSans-Medium;
    src: url(../../asset/font/GoogleSans-Medium.otf);
}
@font-face {
    font-family: GoogleSans-Regular;
    src: url(../../asset/font/GoogleSans-Regular.otf);
}
.row {
    margin-left: 10px;
}