.error_box {
    width: 150px;
    padding: 10px 20px;
    background-color: #ff4747;
    text-align: center;
    border-radius: 5px;
    position: relative;
}

.error_box::before {
    content: "";
    position: absolute;
    top: 100%;
    right: 0;
    width: 20px;
    height: 20px;
    background-color: #ff4747;
    tra
}