.search_input {
    padding-left: 40px;
}

.search_input.validate {
    bor
}

.search_input::placeholder {
    font-size: 12px;
}

.search_icon {
    font-size: 16px;
    position: absolute;
    bottom: 14.5px;
    left: 0;
    padding-left: 16px;
    padding-right: 8px;
    opacity: 0.5;
}

.search_icon.icon2 {
    bottom: 82px;
}