.page_navigate {
    display: flex;
    align-items: center;
    max-width: 400px;
    border: 1px solid #000;
    justify-content: center;
}
.pagging {
    display: flex;
    align-items: center;
}
.pagging_number {
    padding: 10px 14px;
    border: 1px solid #ccc;
    border-radius: 50%;
    margin: 0 10px;
}
.next, .prev, .prev_all, .next_all {
    padding: 10px;
    margin: 0 10px;
    border: 1px solid #ccc;
}