.page_navigate {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: 1px solid #000;
}
.pagging {
    display: flex;
    align-items: center;
}
.pagging_number {
    padding: 10px 14px;
    border: 1px solid #ccc;
    border-radius: 50%;
}