tr:not(:last-child) {
    border-bottom: 1px solid #ccc;
}
th, td {
    line-height: 48px;
    padding-right: 10px;
}
td {
    padding-left: 0px;
}
th > span {
    padding-left: 8px;
    opacity: 0.5;
}
table {
    margin-bottom: 10px;
    width: 100%;
}
.checkbox {
    margin-left: 16px;
}
tr:not(:first-child):hover {
    background-color: #ccc;
}
tr:not(:first-child).active {
    background-color: rgba(0, 0, 255, 0.199);
}