.message_box {
    position: absolute;
    top: 10px;
    right: 0;
}
.warnning_closeicon {
    color: #ffcece;
}
.warnning_icon {
    font-size: 24px;
    color: #ffcece;
}
.warnning_closeicon {
    color: #ffe7af;
}
.warnning_icon {
    font-size: 24px;
    color: #ff;
}